
@charset "utf-8";
/* CSS Document */

body, html
{
	height:100%;
	margin:0;
	font-family:'Didot';
	line-height:180%;
	color: black;
	text-align:center;
	background-color: rgb(7, 7, 7);
	
}
.parallax1
{
	
    background-image:url(/imagenes/5687688.jpg);
	min-height:100%;
	
}

.parallax2
{
	background-image:url(/imagenes/5687688.jpg);
	min-height:100%;
}
.parallax3
{
	background-image:url();
	min-height:80%;
}
.parallax4
{
	background-image:url();
	min-height:100%;
}
.parallax1, .parallax2, .parallax3, .parallax4
{
position:relative;
opacity:0.8;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
max-width:100%;
}
.parallax1 {
	opacity: 1;
}
.cabecera, .cabecera2, .cabecera3, .cabecera4
{
position:absolute;
color:#FFF;
font-size:100%;
top:45%;
width:100%;
text-transform:uppercase;
letter-spacing:18px;
text-shadow:#000;

}
.texto1
{
text-align:center;

}
.informacion
{
width:100%;

}

.informacion a
{
background:#666;
border-radius:10px;
color:#FFF;
padding:20px;;


}
.informacion a:hover
{
cursor:pointer;
background:#000;
border-radius:10px;
color:#CCC;

}


*
{
padding:0;
margin:0;	
box-sizing:border-box;
list-style:none;
text-decoration:none;
}

.menu {
    background-color: white;
    text-align: center;
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 30;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.menu a:hover {
    color: gray;
}

/* Responsive */
@media (max-width: 600px) {
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }
}
